<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950752818406-dagoju2lsrla4487msrnj4srq4agmt9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950752818406-dagoju2lsrla4487msrnj4srq4agmt9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDzmxVjIoD7-qIL8jINls0uoo_xzSo_ggs</string>
	<key>GCM_SENDER_ID</key>
	<string>950752818406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloud.bark.app</string>
	<key>PROJECT_ID</key>
	<string>serverless-bark</string>
	<key>STORAGE_BUCKET</key>
	<string>serverless-bark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950752818406:ios:018b0d96d62c5d46f87727</string>
</dict>
</plist>